<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title></title>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/newStyle.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <style type="text/css">
        @media all and (max-width: 700px) {
            .navbar-brand {
                display: none;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }

            .page-section {
                padding: 0rem 0;
            }

            .btnGroup .saveBtn {
                width: 100% !important;
            }

        }

        .btnGroup {
            width: 100%;
            margin: auto;
        }

        .btnGroup .column {
            width: 33%;
        }

        .image3 .column {
            width: 33%;
            padding: 10px 5px 10px 15px;
        }

        .btnGroup a {
            background-color: black;
            color: #fff
        }

        .image3 .col-1 {
            width: 1%;
        }

        .disableInput:disabled {
            background-color: unset;
            font-size: font-size: 1.5rem !important;
        }

        .image3 .form-input {
            background-color: #F9F9F9;
            border: 0 !important;
        }

        .img-fluid {
            border-radius: 1rem;
        }

        .newButton {
            text-align: right;
            width: 90%;
        }

        .newButton a {
            padding: 0.5rem;
        }

        .login {
            margin-top: 5.8rem;
            background-color: black;
            border-radius: 30px !important;
        }
    </style>
</head>
<body id="page-top">
<div class="container-fluid" id="app">
    <div class="row"
         :style="{display: post == null ? 'none' : 'block'}"
    >

        <div th:replace="~{fragments/common_parts :: menubar}"></div>

        <div class="col-10">
            <div class="row">
                <!-- Navigation-->

                <nav th:replace="~{fragments/common_parts :: navbar}"></nav>

                <section class="page-section" id="contact">
                    <div class="newButton">
                        <a th:href="@{/posts/edit/{id}(id=${id})}"><i class="fa-solid fa-pen"></i></a>
                    </div>
                    <div class="container">
                        <!-- Section Form-->
                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-xl-7">
                                <form v-if="post != null">
                                    <!-- Memo input-->
                                    <div class="form-floating mb-3" style="margin-bottom: unset !important;">
                                        <input style="border: unset; font-size: 2rem;" class="form-control disableInput"
                                               type="text"
                                               v-model="post.title"
                                               disabled/>

                                    </div>

                                    <div
                                            v-for="order in post.ord"
                                    >
                                        <div class="row image3">
                                            <div class="column"
                                                 v-for="img_src in post.subs[order].images"

                                                 v-if="img_src != ''"
                                            >
                                                <div class="form-input">
                                                    <img :src="'/files/' + img_src" alt="..."/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-floating mb-3  input-group forminput"
                                        >
                                            <textarea style="border: unset; font-size: 1rem; padding-top: 0.5rem;"
                                                      class="form-control disableInput" type="text" disabled
                                                      v-model="post.subs[order].heading"
                                            >
                                            </textarea>
                                        </div>

                                        <div class="row image3">
                                            <div class="column"
                                                 v-for="img in post.subs[order].imgframe"

                                                 v-if="img != ''"
                                            >
                                                <img
                                                        class="img-fluid"
                                                        :src="'/files/' + img"

                                                        alt="..."
                                                />
                                            </div>
                                        </div>
                                        <div>
                                            <textarea style="border: unset; font-size: 1rem;padding-top: 0.5rem"
                                                      class="form-control disableInput" type="text" disabled
                                                      v-model="post.subs[order].textarea"
                                            >
                                            </textarea>
                                        </div>
                                    </div>


                                    <div class="row btnGroup">
                                        <div class="column colDiv">
                                            <a href="#"
                                               class="btn btn-primary btn-xl hideBtn"

                                               v-on:click="savePost($event, 'DONE')"
                                            >
                                                Done
                                            </a>
                                        </div>
                                        <div class="column colDiv">
                                            <a href="#" class="btn btn-primary btn-xl hideBtn"
                                               type="submit"
                                            >
                                                Copy
                                            </a>
                                        </div>
                                        <div class="column colDiv"><a href="#" class="btn btn-primary btn-xl hideBtn"
                                                                      type="submit"> Export</a></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.7.3/vue.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            post: null,
            post_id: [[${id}]],
        },
        created: function () {
            let urlroot = `/api/v1/posts/${this.post_id}`

            fetch(urlroot, {method: 'POST'})
                .then((r) => {

                    if (r.ok) return r.json()
                })
                .then((post) => {
                    this.post = post

                    console.log(this.post)
                })
        },

        methods: {
            savePost: function (event, state) {
                event.preventDefault()

                this.post.state = state

                let data = new FormData()

                this.post.subs.forEach((sub) => {

                    sub.keywordStorage = sub.keywords.join('|')

                })

                data.append('post_str', JSON.stringify(this.post))

                fetch('/api/v1/posts/save', {method: 'POST', body: data})
                    .then((r) => {
                        if (r.ok) return r.json()
                    })
                    .then((post) => {
                        this.post = post

                        window.location.replace("/main")
                    })

            },

        },

    })
</script>
</body>
</html>
